{% extends 'base.html' %}
{% load static %}

{% block hero_section %}
    <section class="hero-video-section">
            <video autoplay muted loop playsinline class="hero-video">
                <source src="{% static 'videos/hero_video.mp4' %}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="hero-overlay">
                <h1>Your Headline Here</h1>
                <p>Your subheading or call-to-action.</p>
            </div>
        </section>
{% endblock %}

{% block main_content %}
    <div class="home-gallery">
        <div class="home-gallery-image-wrapper">
            <img src="{% static 'images/clothes.jpg' %}" alt="Clothes">
        </div>
        <div class="home-gallery-image-wrapper">
            <img src="{% static 'images/jewellery.jpg' %}" alt="Jewellery">
        </div>
        <div class="home-gallery-image-wrapper">
            <img src="{% static 'images/make up.jpg' %}" alt="Makeup">
        </div>
        <div class="home-gallery-image-wrapper">
            <img src="{% static 'images/shoes.jpg' %}" alt="Shoes">
        </div>
    </div>
{% endblock %}


