{% extends 'base.html' %}
{% load static %}

{% block hero_section %}
    {% include 'partials/hero_section_video.html' %}
{% endblock %}

{% block main_content %}
    <div class="home-gallery">
        <div class="home-gallery-image-wrapper">
            <img src="{% static 'images/homepage_dress.png' %}" alt="Clothes">
            <div class="overlay">WOMEN'S DRESSES</div>
        </div>
        <div class="home-gallery-image-wrapper">
            <img src="{% static 'images/homepage_skirt.png' %}" alt="Jewellery">
            <div class="overlay">WOMEN'S SKIRTS</div>
        </div>
        <div class="home-gallery-image-wrapper">
            <img src="{% static 'images/homepage_shirt.png' %}" alt="Makeup">
            <div class="overlay">MEN'S SHIRTS</div>
        </div>
        <div class="home-gallery-image-wrapper">
            <img src="{% static 'images/homepage_shorts.png' %}" alt="Shoes">
            <div class="overlay">MEN'S SHORTS</div>
        </div>
    </div>
    
    {% include 'partials/hero_section_image.html' %}
    
    <div class="two-image-set">
        <img src="{% static 'images/Twist-Detail Dress - White.png' %}" alt="">
        <img src="{% static 'images/Knit Cardigan - Cream 2.png' %}" alt="">
    </div>
{% endblock %}

