{% extends 'base.html' %}
{% load static %}

{% block hero_section %}
    <section class="hero-video-section">
            <video autoplay muted loop playsinline class="hero-video">
                <source src="{% static 'videos/hero_video.mp4' %}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="hero-overlay">
                <h1>Your Headline Here</h1>
                <p>Your subheading or call-to-action.</p>
            </div>
        </section>
{% endblock %}

{% block main_content %}
    <div class="home-gallery">
        <div class="home-gallery-image-wrapper">
            <img src="{% static 'images/clothes.jpg' %}" alt="Clothes">
            <div class="overlay">Clothes</div>
        </div>
        <div class="home-gallery-image-wrapper">
            <img src="{% static 'images/jewellery.jpg' %}" alt="Jewellery">
            <div class="overlay">Jewellery</div>
        </div>
        <div class="home-gallery-image-wrapper">
            <img src="{% static 'images/make up.jpg' %}" alt="Makeup">
            <div class="overlay">Makeup</div>
        </div>
        <div class="home-gallery-image-wrapper">
            <img src="{% static 'images/shoes.jpg' %}" alt="Shoes">
            <div class="overlay">Shoes</div>
        </div>
    </div>

    <div class="recent-arrivals">
        <div class="image-container">
            <img src="{% static 'images/midnight_dress.jpg' %}" alt="">
            <img class="hover-img" src="{% static 'images/midnight_dress_model.jpg' %}" alt="">
        </div>
        <div class="image-container">
            <img src="{% static 'images/white_shoes.jpg' %}" alt="">
            <img class="hover-img" src="{% static 'images/white_shoes_model.jpg' %}" alt="">
        </div>
        <div class="image-container">
            <img src="{% static 'images/white_t-shirt.jpg' %}" alt="">
            <img class="hover-img" src="{% static 'images/white_t-shirt_model.jpg' %}" alt="">
        </div>
        <div class="image-container">
            <img src="{% static 'images/necklace.jpg' %}" alt="">
            <img class="hover-img" src="{% static 'images/necklace_model.jpg' %}" alt="">
        </div>
         <div class="image-container">
            <img src="{% static 'images/midnight_dress.jpg' %}" alt="">
            <img class="hover-img" src="{% static 'images/midnight_dress_model.jpg' %}" alt="">
        </div>
        <div class="image-container">
            <img src="{% static 'images/white_shoes.jpg' %}" alt="">
            <img class="hover-img" src="{% static 'images/white_shoes_model.jpg' %}" alt="">
        </div>
        <div class="image-container">
            <img src="{% static 'images/necklace.jpg' %}" alt="">
            <img class="hover-img" src="{% static 'images/necklace_model.jpg' %}" alt="">
        </div>
        <div class="image-container">
            <img src="{% static 'images/white_t-shirt.jpg' %}" alt="">
            <img class="hover-img" src="{% static 'images/white_t-shirt_model.jpg' %}" alt="">
        </div>
         <div class="image-container">
            <img src="{% static 'images/midnight_dress.jpg' %}" alt="">
            <img class="hover-img" src="{% static 'images/midnight_dress_model.jpg' %}" alt="">
        </div>
        <div class="image-container">
            <img src="{% static 'images/white_shoes.jpg' %}" alt="">
            <img class="hover-img" src="{% static 'images/white_shoes_model.jpg' %}" alt="">
        </div>
        <div class="image-container">
            <img src="{% static 'images/white_shoes.jpg' %}" alt="">
            <img class="hover-img" src="{% static 'images/white_shoes_model.jpg' %}" alt="">
        </div>
        <div class="image-container">
            <img src="{% static 'images/white_t-shirt.jpg' %}" alt="">
            <img class="hover-img" src="{% static 'images/white_t-shirt_model.jpg' %}" alt="">
        </div>
    </div>

{% endblock %}


