{% extends 'base.html' %}
{% load static %}

{% block main_class %}with-padding bag-page{% endblock %}

{% block main_content %}
<div class="bag-content">
    <div class="bag-items">
        <h1>Bag</h1>
        {% for item in items %}
            <div class="bag-item">
                <div class="item-left">
                    <a href="#"><img src="{{ item.product.image.url }}" alt="{{ item.product.title }}"></a>
                    <div class="bag-actions">
                        <div class="bag-actions-wrapper">
                            <button class="icon-btn"><i class="fa-solid fa-trash-can"></i></button>
                            1
                            <button class="icon-btn"><i class="fa-solid fa-plus"></i></button>
                        </div>
                        <div class="bag-actions-heart">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </div>
                </div>
                <div class="item-center">
                    <p>{{ item.product.title }}</p>
                    <p>{{ item.product.group.subtitle }}</p>
                    <p>{{ item.product.color }}</p>
                    <p>Size {{ item.size.name }}</p>
                </div>
                <div class="item-right">
                    <span class="price">BGN {{ item.product.price }}</span>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="bag-summary">
        <h2>Summary</h2>
        <div class="summary-line">
            <span>Subtotal</span>
            <span>BGN {{ total }}</span>
        </div>
        <div class="summary-line">
            <span>Estimated Delivery & Handling</span>
            <span>Free</span>
        </div>
        <hr>
        <div class="summary-line total">
            <span>Total</span>
            <span>BGN {{ total }}</span>
        </div>
        <hr>
        <button class="checkout-btn">Member Checkout</button>
    </div>
</div>
{% endblock %}
