{% extends 'base.html' %}
{% load static %}

{% block navbar_class %}
    scrolled
{% endblock %}

{% block main_class %}with-padding{% endblock %}

{% block main_content %}
    <div class="product-page">
        <section class="product-gallery">
            <div class="thumbnail-images">
                {% for image in extra_images %}
                    <img class="thumbnail" src="{{ image.image.url }}" alt="{{ image.alt_text|default:object.title }}">
                {% endfor %}
            </div>
            <div class="main-image">
                <img id="main-product-image" src="{{ object.image.url }}" alt="{{ object.subtitle }}">
            </div>
        </section>

        <section class="product-details">
            <h1 class="details-title">{{ product.title }}</h1>
            <p class="details-subtitle">{{ product.subtitle }}</p>
            <p class="details-price">BGN {{ product.price }}</p>
            <p class="color-shown">Color Shown: {{ product.color }}</p>

            <div class="more-colors">
                {% for color in extra_colors %}
                    <img src="{{ color.image.url }}" alt="">
                {% endfor %}
            </div>

            <div class="sizes">
                <div class="size-options">
                    <p>Select Size</p>
                    <p><i class="fa-solid fa-ruler"></i>Size Guide</p>
                </div>
                <div class="size-buttons">
                    {% for size in sizes %}
                        <button type="button" class="size-btn" data-size-id="{{ size.id }}">{{ size }}</button>
                    {% endfor %}
                </div>
            </div>

            <div class="actions">
                <form id="addToBagForm" method="POST" action="{% url 'add-to-bag' %}">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <input type="hidden" name="size_id" id="size_id" value="">
                    <input type="hidden" name="quantity" value="1">
                    <button type="submit" class="add-to-bag">Add to Bag</button>
                </form>
                <button class="favourite">♡ Favourite</button>
            </div>

            <p class="description">{{ product.description }}</p>

        </section>
    </div>
{% endblock %}