{% extends 'base.html' %}
{% load static %}

{% block main_class %}with-padding{% endblock %}

{% block main_content %}
   <div class="product-page">
    <section class="product-gallery">
        <div class="thumbnail-images">
            {% for image in extra_images %}
                <img class="thumbnail" src="{{ image.image.url }}" alt="#">
            {% endfor %}
        </div>
        <div class="main-image">
            <img id="main-product-image" src="{{ object.image.url }}" alt="{{ object.title }}">
        </div>
    </section>

    <section class="product-details">
        <div class="title-fav-row">
            <h1 class="details-title">{{ product.group.name }}</h1>
            <button class="favourite" aria-label="Add to favorites">♡</button>
        </div>

        <p class="details-price">€{{ product.group.price }}</p>

        <p class="description">
            {{ product.group.description }}
        </p>

        <div class="more-colors">
            <a href="{% url 'product-details' pk=product.pk gender=product.group.gender slug=product.slug %}" class="color-swatch" style="background-color: {{ product.color_hex }};" title="{{ product.color }}"></a>
            {% for variant in extra_colors %}
                <a href="{% url 'product-details' pk=variant.pk gender=variant.group.gender slug=variant.slug %}" class="color-swatch" style="background-color: {{ variant.color_hex }};" title="{{ variant.color }}"></a>
            {% endfor %}
            <p>{{ product.color }}</p>
        </div>

        <div class="sizes">
            <div class="size-buttons">
                {% for size in sizes %}
                    <a href="#" class="size-btn" data-size-id="{{ size.size.id }}">{{ size.size.name }}</a>
                {% endfor %}
                <p class="size-guide"><u>SIZE GUIDE</u></p>
            </div>
        </div>

        <div class="actions">
            <form id="addToBagForm" method="POST" action="{% url 'api-add-to-bag' %}">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <input type="hidden" name="size_id" id="size_id" value="">
                <input type="hidden" name="quantity" value="1">
                <button type="submit" class="add-to-bag">Add to Cart</button>
            </form>
        </div>

        <div class="extra-info-links">
            <a href="#">SIZE/FIT</a>
            <a href="#">COMPOSITION</a>
            <a href="#">CARE</a>
            <a href="#">IN STORE AVAILABILITY</a>
        </div>

        <div class="bottom-links">
            <p>Express shipping and returns</p>
            <p>Need help ?</p>
        </div>
    </section>
</div>


    <div id="zoomImageModal" class="image-modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="zoomedImage">
    </div>
{% endblock %}

