{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block main_class %}with-padding{% endblock %}

{% block main_content %}
    <div id="content-wrapper">
        <div id="products-gallery" class="products-gallery">
            {% for product in products %}
                <div class="product-card">
                    <div class="product-image-container">
                        <a href="{% url 'product-details' pk=product.pk gender=product.group.gender slug=product.slug %}">
                            <img src="{{ product.main_image.image.url }}" alt="{{ product.group.name }}" class="product-img">
                        </a>
                    </div>
                    <div class="product-title-price">
                        <span class="product-title">{{ product.group.name }}</span>
                        <span class="product-price">€{{ product.group.price }}</span>
                    </div>
                        <div class="color-choices">
                            {% with product.color_hexes|split:"," as colors %}
                                <a href="{% url 'product-details' pk=product.pk gender=product.group.gender slug=product.slug %}"
                                   class="color-choice"
                                   title="{{ product.color }}">
                                    {% if colors|length > 1 %}
                                        <span class="color-split"
                                              style="background: linear-gradient(90deg, {{ colors.0|trim }} 50%, {{ colors.1|trim }} 50%);">
                                        </span>
                                    {% else %}
                                        <span class="color-split"
                                              style="background-color: {{ colors.0|trim|default:'#ccc' }};">
                                        </span>
                                    {% endif %}
                                </a>
                            {% endwith %}
                        
                            {% for variant in extra_colors_dict|get_item:product.id %}
                                {% with variant.color_hexes|split:"," as colors %}
                                    <a href="{% url 'product-details' pk=variant.pk gender=variant.group.gender slug=variant.slug %}"
                                       class="color-choice"
                                       title="{{ variant.color }}">
                                        {% if colors|length > 1 %}
                                            <span class="color-split"
                                                  style="background: linear-gradient(90deg, {{ colors.0|trim }} 50%, {{ colors.1|trim }} 50%);">
                                            </span>
                                        {% else %}
                                            <span class="color-split"
                                                  style="background-color: {{ colors.0|trim|default:'#ccc' }};">
                                            </span>
                                        {% endif %}
                                    </a>
                                {% endwith %}
                            {% endfor %}
                        </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}