{% extends 'base.html' %}
{% load static %}

{% block navbar_class %}
    scrolled
{% endblock %}

{% block main_class %}with-padding{% endblock %}

{% block main_content %}
    <h1 class="current-category">ALL PRODUCTS</h1>
    <div class="category-pills">
        <a href="">All Products</a>
        <a href="">Long Sleeves</a>
        <a href="">T-Shirts</a>
        <a href="">Jeans</a>
        <a href="">Tops</a>
        <a href="">Jackets</a>
        <a href="">Shoes</a>
        <a href="">Make Up</a>
        <a href="">Underwear</a>
        <a href="">Shorts</a>
    </div>
    <div class="sort-filter">
        <a href="">Sort By <i class="fa-solid fa-plus"></i></a>
        <a href="">Show Filters <i class="fa-solid fa-filter"></i></a>
    </div>
    <div class="products-gallery">
        {% for product in products %}
            <div class="product-card">
                <div class="product-image-container">
                    <a href="{% url 'product-details' pk=product.pk gender=product.gender slug=product.slug %}">
                        <img src="{{ product.image.url }}" alt="{{ product.title }}" class="product-img">
                    </a>
                </div>
                <h3 class="product-title">{{ product.title }}</h3>
                <div class="color-count">{{ product.colors.count }} Colors</div>
                <p class="product-price">{{ product.price }} BGN</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}