{% extends 'base.html' %}
{% load static %}

{% block main_class %}with-padding{% endblock %}


{% block main_content %}
    <div class="category-pills">
      {% if item_type %}
        <a href="?item_type={{ item_type.slug }}" class="pill active">
          {{ item_type.name }}
        </a>
      {% endif %}

      {% for model in item_type_models %}
        <a href="?item_type={{ item_type.slug }}&item_type_model={{ model.slug }}" class="pill">
          {{ model.name }}
        </a>
      {% endfor %}
    </div>


    <div class="sort-filter">
        <a href="">Sort By <i class="fa-solid fa-plus"></i></a>
        <a href="">Show Filters <i class="fa-solid fa-filter"></i></a>
    </div>
    <div class="products-gallery">
        {% for product in products %}
            <div class="product-card">
                <div class="product-image-container">
                    <a href="{% url 'product-details' pk=product.pk gender=product.gender slug=product.slug %}">
                        <img src="{{ product.image.url }}" alt="{{ product.title }}" class="product-img">
                    </a>
                </div>
                <h3 class="product-title">{{ product.title }}</h3>
                <p class="product-color-count">{{ product.group.variants.count }} Colors</p>
                <p class="product-price">{{ product.price }} BGN</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}