{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <span class="logo">
                Logo
            </span>

            <div class="nav-links">
              <a href="#" class="active">HOME <span class="arrow">&#x276F;</span></a>
              <a href="#">WOMEN <span class="arrow">&#x276F;</span></a>
              <a href="#">MEN <span class="arrow">&#x276F;</span></a>
              <a href="#">KIDS <span class="arrow">&#x276F;</span></a>
              <a href="#">COSMETICS <span class="arrow">&#x276F;</span></a>
              <a href="#">SHOP <span class="arrow">&#x276F;</span></a>
            </div>

            <div class="nav-icons">
                <a><i class="fa-solid fa-bag-shopping"></i></a>
                <a><i class="fa-solid fa-magnifying-glass"></i></a>
                {% if not user.is_authenticated %}
                    <a id="userIcon"><i class="fa-regular fa-user"></i></a>
                {% else %}
                    <a id="profileIcon"><i class="fa-regular fa-user"></i></a>
                {% endif %}
                <a><i class="fa-solid fa-bars"></i></a>
            </div>

        </div>
    </nav>

    {% include 'accounts/auth_modal.html' %}
    {% include 'accounts/profile_modal.html' %}

    {% block hero_section %}
    {% endblock %}

    {% block main_content %}
    {% endblock %}
    

    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/film_wrapper.js' %}"></script>
    <script src="{% static 'js/auth_modal.js' %}"></script>
    <script src="{% static 'js/profile_modal.js' %}"></script>

</body>
</html>