{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
    <nav class="navbar {% block navbar_class %}{% endblock %}">
        <div class="navbar-container">
            <span class="logo">
                Logo
            </span>

            <div class="nav-links">
              <a href="/admin/">ADMIN</a>
              <a href="#" class="active">HOME</a>
              <a href="#">WOMEN <span class="arrow">&#x276F;</span></a>
              <a href="#">MEN <span class="arrow">&#x276F;</span></a>
              <a href="#">KIDS <span class="arrow">&#x276F;</span></a>
              <a href="#">COSMETICS <span class="arrow">&#x276F;</span></a>
              <a href="#">SHOP <span class="arrow">&#x276F;</span></a>
            </div>

            <div class="nav-icons">
                <a><i class="fa-solid fa-bag-shopping"></i></a>
                <a><i class="fa-regular fa-heart"></i></a>
                {% if not user.is_authenticated %}
                    <a id="userIcon"><i class="fa-regular fa-user"></i></a>
                {% else %}
                    <a id="profileIcon"><i class="fa-regular fa-user"></i></a>
                {% endif %}
            </div>

        </div>
    </nav>

    {% include 'accounts/auth_modal.html' %}
    {% include 'accounts/profile_modal.html' %}

    {% block hero_section %}
    {% endblock %}

    <main class="main-content {% block main_class %}{% endblock %}">
        {% block main_content %}
        {% endblock %}
    </main>

    <div id="bag-modal" class="bag-modal hidden">
      <div class="bag-modal-content">
        <button class="bag-modal-close">×</button>
        <div class="bag-modal-header">
          <span class="bag-modal-check">✔</span>
          <span class="bag-modal-message">Added to Bag</span>
        </div>
        <div class="bag-modal-body">
          <img id="bag-modal-product-image" src="" alt="">
          <div class="bag-modal-details">
            <h3 class="bag-modal-product-title">{{ object.title }}</h3>
            <h3 class="bag-modal-product-subtitle">{{ object.group.subtitle }}</h3>
            <p class="bag-modal-product-size">Size: {{ object.size }}</p>
            <p class="bag-modal-product-price">BGN {{ object.price }}</p>
          </div>
        </div>
        <div class="bag-modal-actions">
          <a id="view-bag-link" class="bag-btn outline" data-url="{% url 'bag' %}">View Bag ({{ bag_size }})</a>
          <a id="checkout-link" class="bag-btn primary" data-url="#">Checkout</a>
        </div>
      </div>
    </div>

    
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/film_wrapper.js' %}"></script>
    <script src="{% static 'js/auth_modal.js' %}"></script>
    <script src="{% static 'js/profile_modal.js' %}"></script>
    <script src="{% static 'js/main_image_swap.js' %}"></script>
    <script src="{% static 'js/select_size.js' %}"></script>
    <script src="{% static 'js/add_to_bag.js' %}"></script>
    <script src="{% static 'js/zoomModal.js' %}"></script>

</body>
</html>