.auth-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.auth-modal-content {
    background: white;
    padding: 30px;
    width: 25%;
    max-width: 450px;
    position: relative;
    text-align: left;
    align-content: center;
}

.auth-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.auth-title {
    font-size: 14px;
    margin: 15px 0 30px 0;

    font-weight: normal;
}

.auth-subtitle {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.4;
}

.auth-label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: normal;
}

.auth-label-form {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: normal;
}

.auth-required {
    color: red;
}

.auth-input {
    width: 100%;
    padding: 16px;
    font-size: 14px;
    margin-bottom: 20px;
    border: 1px solid #000;
}

.auth-submit-btn {
    width: 100%;
    background: #1c1c1c;
    color: white;
    border: none;
    padding: 16px;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
}

.auth-back-btn {
    width: 100%;
    background: white;
    color: black;
    border: 1px solid black;
    padding: 16px;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    margin-top: 15px;
}

.auth-secure {
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-top: 15px;
    justify-content: center;
}

.auth-secure i {
    margin-right: 8px;
}

.auth-input[readonly],
.auth-input.greyed-out {
    background-color: #f2f2f2;
    color: #888;
    cursor: not-allowed;
}

body.modal-open {
    overflow: hidden;
}

.loyal-customer {
    font-size: 14px;
    margin: 20px 0 10px 0;
    text-align: center;
}

.loyal-customer a,
.loyal-customer a:visited {
    text-decoration: underline;
    color: black;
    letter-spacing: 1px;
}

.auth-modal-content h4 {
    font-size: 14px;
    margin-bottom: 20px;
}