.hero-video-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%) scale(0.5);
  object-fit: cover;
}

.hero-overlay {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 90%;
  right: 40%;
}

.hero-overlay h1 {
  font-size: 22px;
  font-weight: lighter;
  margin-bottom: 60px;
  font-family: 'Garamond', 'sans-serif';
}

.hero-overlay a {
  margin-right: 20px;
  text-decoration: none;
  border: 1px solid white;
  padding: 20px;
  font-size: 18px;
  font-family: 'GGaramond', 'sans-serif';
  color: white;
}

.hero-overlay a:visited {
  color: white;
}

.hero-overlay a:hover {
  background-color: white;
  color: black;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-overlay.image {
  position: relative;
  top: 85%;
  right: 40%;
}

.hero-overlay.image a {
  margin-right: 20px;
  padding: 20px;
}