* {
    scroll-behavior: smooth;
}

.home-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.home-gallery-image-wrapper {
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1;
}

.home-gallery-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: filter 0.3s ease;
}
