* {
    scroll-behavior: smooth;
}

.social-media-icons {
    display: flex;
    gap: 30px;
    margin-left: 700px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 20%;
    color: dimgrey;
    text-decoration: none;
    font-size: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.1);
}

.facebook,
.linkedin,
.instagram,
.twitter,
.youtube,
.pinterest {
    background-color: white;
}

.facebook:hover {
    background-color: #2d4373;
    color: white;
}

.twitter:hover {
    background-color: #0d8bf0;
    color: white;
}

.instagram:hover {
    background: radial-gradient(circle at 30% 30%, #fcb045, #d6249f, #833ab4, #405de6);
    color: white;
}

.linkedin:hover {
    background-color: #005582;
    color: white;
}

.youtube:hover {
    background-color: #d10037;
    color: white;
}

.pinterest:hover {
    background-color: #ff004d;
    color: white;
}