* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Helvetica', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    color: transparent;
    transition: background-color 0.3s ease;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.navbar-container {
    width: 90%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo {
    position: relative;
    left: 200px;
}

.logo:hover {
    cursor: pointer;
}

.nav-links {
    position: relative;
    left: 150px;
    display: flex;
    gap: 30px;
    font-size: 14px;
    letter-spacing: 1px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-icons {
    display: flex;
    position: relative;
    right: 100px;
    gap: 30px;
}

.nav-icons a {
    text-decoration: none;
    color: white;
}

.nav-icons a:hover {
    cursor: pointer;
}


.navbar.scrolled {
    background-color: white;
}

.navbar.scrolled .nav-links a,
.navbar.scrolled .nav-icons a,
.navbar.scrolled .logo,
.navbar.scrolled .arrow {
    color: grey;
}

.arrow {
    display: inline-block;
    transform: rotate(90deg);
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    vertical-align: middle;
    margin-bottom: 5px;
}

.main-content.with-padding {
    padding-top: 100px;
}