* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.main-content.with-padding {
    padding-top: 100px;
}

.announcement {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #494343;
    color: #fff;
    padding: 8px 0;
    text-align: center;
    z-index: 11;
    transition: transform 0.5s ease;
}

.announcement h1 {
    font-family: 'Garamond', 'sans-serif';
    font-size: 16px;
}

.navbar {
    position: fixed;
    top: 34px;
    left: 0;
    z-index: 10;
    width: 100%;
    color: #000000;
    background-color: white;
    transition: transform 0.5s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.navbar-container a {
    text-decoration: none;
}

.logo img {
    margin-left: 30px;
    width: 80px;
    height: auto;
}

.navbar-right {
    margin-right: 30px;
}

.left-nav {
    display: flex;
    align-items: center;
}

.left-nav h1 {
    font-size: 30px;
    margin-left: 100px;
    color: black;
    font-family: 'Garamond', 'sans-serif';
    font-weight: normal;
}

.left-nav h1:visited {
    text-decoration: none;
    color: black;
}

.nav-links {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-left: 20px;
    font-size: 16px;
}

.nav-hover-area {
    display: flex;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-icons {
    display: flex;
    gap: 30px;
    font-size: 16px;
}

.nav-links a,
.nav-icons a {
    text-decoration: none;
    color: #000000;
    font-family: 'Garamond', 'sans-serif';
}

.nav-links a:hover,
.nav-icons a:hover {
    text-decoration: underline;
    color: #000;
    cursor: pointer;
}

.main-content.profile-page {
    padding-top: 100px;
}

.search-box {
    display: flex;
    border-radius: 30px;
    padding: 8px 10px;
    width: 150px;
    background-color: #f6f6f6   ;
}

.search-box a {
    color: #333;
    text-decoration: none;
    margin-right: 8px;
}

.search-box i {
    font-size: 16px;

}

.search-box input {
    border: none;
    outline: none;
    font-size: 14px;
    width: 100%;
    background-color: #f6f6f6;
}

.hidden {
    display: none;
}

.mega-dropdown-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 9;
    display: block;
    visibility: hidden;
    opacity: 0;
    padding: 30px;
    transform: translateY(-10px);
    transition: transform 0.3s ease;
}

.mega-dropdown {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.mega-dropdown.show {
    display: block;
    opacity: 1;
    visibility: visible;
}

.mega-dropdown-container.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.mega-content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    color: #333;
}

.dropdown-column {
    flex: 1 1 200px;
    min-width: 180px;
}

.dropdown-column a {
    display: block;
    margin: 12px 0;
    opacity: 0.7;
    color: #000000;
    font-size: 12.5px;
    text-decoration: none;
}

.dropdown-column a span {
    display: inline-block;
    position: relative;
}

.dropdown-column a span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 0;
    background: #000;
    transition: width 0.3s ease;
}

.dropdown-column a:hover span::after {
    width: 100%;
}

.dropdown-column-title {
    font-size: 16px !important;
}

.dropdown-column-title.big {
    margin-left: 50px !important;
}