* {
    font-family: Arial, Helvetica, sans-serif;
}

.current-category {
    margin: 20px 0 0 30px; /* top right bottom left */
}

.category-pills {
    margin: 60px 0 0 30px;
    display: flex;
    gap: 10px;
}

.category-pills a {
    text-decoration: none;
    color: #201f1f;
    border: 1px solid #201f1f;
    padding: 8px;
}

.category-pills a:hover {
    background-color: #232222;
    color: white;
}

.sort-filter {
    display: flex;
    justify-content: end;
    gap: 30px;
    margin-top: 20px;
}

.sort-filter a:first-child {
    margin-left: 30px;
    color: black;
    text-decoration: none;
}

.sort-filter a:first-child i {
    margin-left: 2px;
    font-size: 18px;
    opacity: 0.7;
}

.sort-filter a:nth-of-type(2) {
    margin-right: 50px;
    color: black;
    text-decoration: none;
}

.sort-filter a:nth-of-type(2) i{
    opacity: 0.7;
    font-size: 15px;
    margin-left: 2px;
}

.products-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    padding-top: 30px;
    gap: 10px;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    margin-bottom: 70px;
}

.product-image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.product-img {
    width: 100%;
    height: auto;
    display: block;
}

.product-title {
    font-size: 17px;
    font-weight: normal;
    margin: 10px 0 5px 0;
}

.product-price {
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
}

.product-color-count {
    font-size: 16px;
    opacity: 0.6;
    font-weight: normal;
}

.product-title,
.product-color-count,
.product-price {
    margin-left: 10px;
}