.product-page {
    display: flex;
    gap: 40px;
    padding: 50px;
}

.product-gallery {
    display: flex;
    margin-left: 300px;
}

.main-image img {
    height: 650px;
    border-radius: 10px;
}

.thumbnail-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 20px;
}

.thumbnail-images img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.product-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
}

.details-title {
    font-size: 28px;
    font-weight: 400;
    margin: 0 0 -15px;
}

.details-subtitle {
    color: gray;
    margin: 0;
}

.details-price {
    font-size: 18px;
    font-weight: 500;
    margin: -5px 0 10px;
}

.color-shown {
    margin: 0;
}

.more-colors {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.more-colors img {
    border-radius: 5px;
    width: calc((100% - 4 * 5px) / 5);
    object-fit: cover;
    margin-top: 10px;
}

.sizes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.size-options {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 10px 0;
}

.size-options i {
    margin-right: 5px;
}

.size-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.size-buttons button {
    border: 1px solid #b8b4b4;
    background: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    width: calc((100% - 4 * 5px) / 5);
    height: 45px;
    flex-shrink: 0;
}

.size-btn.selected {
    background-color: #f0f0f0;
    border: 1px solid #333;
}


.actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-to-bag {
    background: black;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.favourite {
    background: white;
    border: 1px solid black;
    color: black;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.description {
    line-height: 1.5;
}
