.product-page {
    display: flex;
    gap: 80px;
    padding: 50px 100px 100px 300px;
    font-family: 'Georgia', serif;
}

.product-gallery {
    display: flex;
    margin-left: 0;
}

.main-image img {
    height: 650px;
    border-radius: 10px;
    cursor: pointer;
}

.thumbnail-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 20px;
}

.thumbnail-images img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.product-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 450px;
    font-family: 'Georgia', serif;
    color: black;
}

.title-fav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details-title {
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 -15px 0;
    font-family: 'Georgia', serif;
}

.favourite {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: black;
    line-height: 1;
    padding: 0;
}

.details-price {
    font-size: 16px;
    margin: -8px 0 20px 0;
}

.description {
    font-family: 'Georgia', serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
}

.more-colors {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.more-colors p {
    font-size: 14px;
}

.more-colors a.color-swatch {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    cursor: pointer;
    text-decoration: none;
}

.color-swatch {
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.sizes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.size-guide {
    font-family: 'Georgia', serif;
    cursor: pointer;
    font-size: 13px;
    margin-left: 50px;
}

.size-buttons {
    display: flex;
    gap: 20px;
}


.size-buttons a {
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}


.size-buttons a:visited {
    color: black;
}

.size-btn.selected {
    border-bottom: 1px solid #474646;
    padding-bottom: 2px;
}

.actions {
    margin-top: 30px;
}

.add-to-bag {
    background: black;
    color: white;
    padding: 13px 0;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.extra-info-links {
    display: flex;
    gap: 15px;
    font-family: Georgia, sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.extra-info-links a {
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid #474646;
    padding-bottom: 2px;
    color: black;
}

.extra-info-links a:visited {
    color: black;
}

.bottom-links {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-family: 'Georgia', serif;
    font-size: 16px;
}

.image-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.image-modal .modal-content {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.image-modal .close {
    position: absolute;
    top: 30px;
    right: 50px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
